.table:not(.table-sm) thead th {
    background-color: rgba(214, 214, 214, 1);
    color: black;
    border: none;
}

#td-metodologi {
    padding: 10px !important;
    height: 45px !important;
    text-align: left !important;
    font-size: 10px !important;
}

#th-metodologi {
    background-color: rgba(214, 214, 214, 1);
    height: 45px !important;
    color: black;
}

.lesson {
    border: none;
    background-color: white;
}

#table-responsive-metodologi {
    border-radius: 12px;
}

.table-bordered td, .table-bordered th {
    border: 2px solid rgba(214, 214, 214, 1);
    color: black;
}

.metodologi-isi > img[align=left]{
  margin-right: 10px;
  margin-top: 5px;
}
.metodologi-isi > img[align=right]{
  margin-left: 10px;
  margin-top: 5px;
}

.input-group-text,
select.form-control:not([size]):not([multiple]),
.form-control:not(.form-control-sm):not(.form-control-lg) {
  height: 30px;
}
/* ------------------------------------ */
.kaki{
    bottom: 0px;
    position: fixed;
    display: block;
    width: 100%;
}
#table-attachment{
    border-collapse:separate !important;
    border : solid rgba(0, 0, 0, 0.2) 1px;
    border-radius : 6px;
    -moz-border-radius : 6px;
    width:100%;
}

#th-attachment{
    padding-left: 12px;
    padding-right: 0px;
    border-color: inherit;
    border-style: none !important;
    border-width: 0;
    border-bottom-width: 1px !important;
    font-weight : 500 !important;
}
#td-attachment{
    padding-left: 12px;
    padding-right: 0px;
    border-bottom-width: 0px !important;
    border-top-width: 1px !important;
    color : #2F80ED;
    font-size : 13px;
    border: rgba(0, 0, 0, 0.2) solid 1px !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
    line-height: 26px;
}
.restricted {
  background-color: rgba(244, 244, 244, 1);
  padding-top: 10%;
  padding-bottom: 10%;
}

.fa-eye-slash {
  font-size: 3em;
}

.m-comment {
  padding: 0 !important;
}

.m-comment-dialog {
  position: fixed;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  right: 0;
  min-width: 320px;
  max-width: 400px;
  width: 100%;
}

.m-comment-content {
  height: 100%;
  min-height: 100%;
  width: 100%;
  border-radius: 0;
}

.emojionearea .emojionearea-button.active+.emojionearea-picker-position-bottom{
  left: -5px;
}

.ava {
  max-width: 40px;
}

#comment {
  width: 350px;
  height: 100px;
  padding: 0px 10px;
  resize: none;
  background-color: transparent;
  border: transparent;
}

#header-comment{
  line-height: 30px;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  min-height: 70px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

textarea::-webkit-scrollbar { height: 0 !important }

@media (max-width: 768px) { 
  #comment {
    width: 236px;
    height: 100%;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
  
}

@media (min-width: 320px) { 
  #comment {
    width: 238px;
    height: 100px;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
}

@media (min-width: 375px) { 
  #comment {
    width: 293px;
    height: 100px;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
}

@media (min-width: 425px) { 
  #comment {
    width: 343px;
    height: 100px;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
}

@media (min-width: 425px) { 
  #comment {
    width: 343px;
    height: 100px;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
}

@media (min-width: 768px) { 
  #comment {
    width: 436px;
    height: 100px;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
}

@media (min-width: 1024px) { 
  #comment {
    width: 429px;
    height: 100px;
    padding: 0px 10px;
    resize: none;
    background-color: transparent;
    border: transparent;
  }
}