body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: hsl(218, 100%, 84%);
    border-radius: 10px;
}

body.sidebar-mini .sidebar-forum{
    overflow-y: scroll !important;
}

.sidebar-forum::-webkit-scrollbar {
    width: 0.5em;
}

.sidebar-forum::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-forum::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
}

.modal-dialog-scrollable .modal-body{
    overflow-x: hidden;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: hsl(218, 100%, 84%);
    border-radius: 10px;
}

.emojionearea-editor::-webkit-scrollbar {
    width: 5px;
}

.emojionearea-editor::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown-myforum:after{
    display:none !important;
}

.dropdown-menu-myforum{
    min-width:7rem !important;
    width:50px !important;
}

.dropdown-menu-myforum > .dropdown-item{
    height: 25px !important;
    display: flex;
    align-items: center;
}

.emojionearea-editor::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.emojionearea-editor{
    overflow-y: scroll !important;
}

.pencarian-card{
    padding-top: 50px !important;
}
.thumb-forum{
    overflow: hidden;
    max-height: 170px;
    border-radius: 12px;
}
.thumb-katalog{
    overflow: hidden;
    max-height: 100px;
    border-radius: 12px;
    box-shadow: 0px 1px 3px #c6c6c6;
}
.overlay{
    background-image: url('../img/bg/jumbotron-bg.png');
    mix-blend-mode: overlay;
}

.thumb{
    min-height: 120px;
    min-width: 120px;
}

.notification {
    padding: 15px 26px;
    position: relative;
    display: inline-block;
  }

  .notification:hover {
    background: red;
  }

  .beep-before{
    position: relative;
  }
  .beep-before:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 7px;
    height: 7px;
    background-color: #ffa426;
    border-radius: 50%;
    -webkit-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  .notification .badge {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 5px 0px 5px 0px !important;
    border-radius: 50%;
    background: red;
    color: white;
    width: 20px !important;
    text-align: center;
  }

.card-img-top{
    height: 120px !important;
    width: 120% !important;
    object-fit: cover;
}

.bg-ornament{
    position: absolute;
    opacity:40%;
    z-index: 0;
    width: 100%;
    height: 350px;
}

.bg-ornament-footer{
    position: absolute;
    opacity:40%;
    z-index: 0;
    width: 100%;
    height: 540px;
}

.gold{
    color: gold;
}

.kolom-image{
    max-width:11.666667%;
}

.o-hidden{
    overflow: hidden;
}
.master{
    overflow: hidden;
    position:relative;
}

.bg-bri{
    background-color: #0E3984;
    z-index:1;
}

.bg-6sa6ss{
    background-color : #F3F5F8;
}

.sh-a22l{
    box-shadow: 0px 2px 4px 1px #d0d0d0;
}

.btn-warning{
    box-shadow : 0px 2px 6px #2c2c2c !important;
}

.lkatego{
    padding-top:2.5em;
    padding-bottom:2.5em;
}

#bot{
    position: absolute;
    bottom: 250px;
    right   : 0px;
    width   : 40%;
    z-index : -1;
}

.head_pro{
    width:70%;
}

.item-pro{
    line-height:18px;
}

.head-text{
    position:absolute;
    top : -11.5px;
}

.rounded-detail{
    border-radius: 25px;
}

.list{
    list-style-type:none;
}

.scaffold{
    z-index: 2;
    position: relative;
}

.metodologi{
    word-wrap: break-word;
}

.metodologi-content > p{
    line-height: 125%;
    font-family: inherit;
}

.metodologi-isi > p{
    line-height: 125%;
    font-family: inherit;
}

.text-time{
    color: #828282;
}

.form-bagikan{
    border: 1px #efecec solid;border-radius: 25px;overflow: hidden;
}

.form-link-bagikan{
    border: none;
    height:100% !important;
}

.copy-link{
    border-radius: 4px;background-color: #e7e7e7;
}

.comp{
    display:flex !important;
}

.comp2{
    display:none !important;
}

.rekomendasi{
    padding-left: 5em;
    padding-right: 5em;
}
.header-list-project{
    font-size:20px;
    font-weight:500;
}

.fs-18{
    font-size:18px;
}

.fs-10{
    font-size:10px;
}

.fs-12{
    font-size:12px;
}

.fs-15{
    font-size:15px;
}

.list-project{
    padding : 1rem!important;
}

.list-forum{
    padding : 1.2rem!important;
    height: 170px !important;
}
.list-manageforum{
    padding : 1.2rem!important;
    height: 85px !important;
}
.check-filter{
    transform: scale(1.3);
}
.lainnya{
    border-bottom: 1px #d0d0d0 solid;
    padding-bottom: 5px;
    padding-top: 5px;
}
.pencarian{
    box-shadow: 0px 0px 10px #eeeeee;
    border: solid 1px;
    border-radius: 15px;
    overflow: hidden;
}
.h-35{
    height : 35px !important;
}
.btn-search-forum{
    background-color:#3680ff;
    color:white;
}
.filter-search{
    font-size: 20px;
}
.addin{
    display : block !important;
}
.control{
    border-color : #e9dfdf;
    color : #757575;
}

.btn-control:active{
    background-color: #0e3984!important;
    color: white !important;
}

.btn-control:visited{
    background-color: #0e3984!important;
    color: white !important;
}

.btn-control:hover{
    background-color: #0e3984 !important;
    color: white !important;
}

.aktip{
    background-color: #0e3984!important;
    color: white !important;
}

.f-60{
    font-size:60% !important;
}

.f-15{
    font-size:15px !important;
}

.nav-back-forum{
    box-shadow: 1px 1px 11px #ebebeb;
    border-color : #ebebeb !important;
}

.border-abu{
    border-color : #ebebeb !important;
}

body.sidebar-mini .main-sidebar{
    width: 136px;
    padding-left: 5px;
}

body.sidebar-mini .main-sidebar:after{
    width: 136px;
}

.card-forum{
    box-shadow: 0px 0px 10px #d6d8db;
}

.sidebar-forum{
    width: 330px;
    overflow-y: scroll !important;
    padding-bottom: 6em;
}

.push-pop{
    vertical-align: middle;
    padding: 3px 6px;
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 40px;
    font-size: 9px;
    line-height: 8px;
    height: 16px;
    background-color: #f02849;
    color: white;
    position: absolute;
    left: 27px;
    top: 1px;
}

.pop-edit{
    vertical-align: middle;
    padding: 4px 4px;
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 40px;
    font-size: 10px;
    line-height: 19px;
    height: 23px;
    background-color: #ffffff;
    color: white;
    position: absolute;
    right: 5%;
    bottom: 7%;
    box-shadow: 1px 3px 7px #c1c1c1;
    cursor: pointer;
}

.edit-profile-icon{
    font-size : 12px !important;
}

.notifikasi-content{
    height: 150px;
    max-height: 200px;
    overflow-y: scroll;
}

.forum{
    padding-left: 360px;
    padding-top: 5em !important;
    min-height: 850px !important;
}

body.sidebar-gone .sidebar-forum{
    left: -450px;
}

body.sidebar-mini .forum{
    padding-left: 160px;
}

.latar-progress{
    white-space: nowrap;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lh-6{
    line-height: 6px;
}
.lh-10{
    line-height: 10px;
}
.lh-12{
    line-height: 12px;
}
.lh-15{
    line-height: 15px;
}
.lh-14{
    line-height: 14px;
}
.lh-1{
    line-height: 1em;
}

.badge-cyan-light{
    background: #c1f0ff 20%;
}
.thumbnail-list-project{
    min-height
}
.img-detail{
    width: 155%;
    max-width: 150px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px #c4c3c3;
    max-height: 150px;
}
.img-detail2{
    width: 100%;
    max-width: 150px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px #c4c3c3;
    max-height: 150px;
}
.img-table{
    /* width: 100%; */
    min-width:60px;
    height: 60px;
}

.h-40{
    height  : 40px !important;
}

.breadcrumb {
    padding-top: 2%;
    padding-left: 3%;
}
.content-project{
    padding : .5rem!important;
}

.decoration-none{
    text-decoration: none;
}

.max-600{
    max-width : 600px;
}

.min-400{
    min-height: 400px;
}
/* img {
    border-radius: 10px;
} */
.judul {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

.search-list-proj{
    border-radius: 52px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 35px;
}

.filter-popup{
    width:500px !important;
    box-shadow: 1px 1px 12px #d2d2d2;
    border-radius: 20px;
}

#ChartKonsultant, #ChartProject {
    width: 100%;
    height: 500px;
}

.emojionearea{
    height:100% !important;
    border:0px !important;
    -webkit-box-shadow : none !important;
}

g[aria-labelledby=id-66-title]{
    display: none !important;
}

g[aria-labelledby=id-335-title]{
    display: none !important;
}

g[aria-labelledby=id-397-title]{
    display: none !important;
}

a.ResultItem:hover{
    background-color: #F3F5F8 !important;
    color:black !important;
}

a.ResultItem:active{
    background-color: #F3F5F8 !important;
    color:black !important;
}

a.ResultItem:visited{
    background-color: #F3F5F8 !important;
    color:black !important;
}

.filter-pop-content{
    overflow-y: scroll;
    max-height: 180px;
}

.img-about{
    max-height: 500px;
}

.head-grap{
    font-size : 0;
}

.input-bri{
    background: #ffffff !important;
    border-radius: 8px !important;
    min-height: 2.5em !important;
    border-color: #0E3984 !important;
}

.input-group-append{
    z-index : 0;
}

.select2-container--bootstrap .select2-selection--single{
    line-height: 2;
}

.select2-container .select2-search--inline .select2-search__field {
    vertical-align: middle;
}

.card-graph{
    max-height: 350px;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
}

.lh-5{
    line-height: 5px;
}

.lh-20{
    line-height: 20px;
}

.icon-user-navbar{
    font-size: 28px;
}

.content-levelling{
    font-size   :   15px;
    height      :   35px;
}

.senddataloader {
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: white;
    opacity:70%;
}

.loadercomment {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    opacity: 70%;
    align-items: center;
}

.icon-search-list{
    font-size: 14px;
    padding: 3px 10px !important;
    height: 35px;
    border-top: none;
}

.pretel-search-list-proj{
    height: 35px!important;
}

.card-chart{
    box-shadow: 1px 1px 6px #cec0c0;
    border-radius: 25px;
    min-height: 100px;
}

.label_grap{
    font-size: 1.4em;
    line-height: 22px;
}

.garis-bawah{
    background-color: #2F80ED;
    height: 3px;
}

.relative{
    position : relative;
}

.ava {
    width: 100%;
    min-width: 120px;
    cursor:pointer;
}

.ava-profile {
    width: 100%;
    min-width: 45px;
    max-width: 130px;
    cursor:pointer;
}

.ava-lock{
    max-width: 120px;
    object-fit: contain;
    object-position: center;
    box-shadow: 1px 3px 7px #c1c1c1;
    width: 100%;
    min-width: 120px;
    filter: brightness(0.59);
}

.header-direktorat{
    font-size: 18px;
    text-transform: uppercase;
}

.collection-avatar{
    max-width: 900px !important;
}

.avatar-cover{
    position: absolute;
    width: 75%;
    padding: 0px 2px 0px 2px;
    max-width: 110px;
}

#sidebar-scroll{
    height: 100%;
    overflow-y: scroll;
}

#sidebar-wrapper{
    height: 100%;
    overflow-y: scroll;
    min-height: 1090px;
}

.ava-active{
    filter: brightness(0.5);
}

.corner-left{
    border-left: 1px solid rgb(230 230 230);
    border-top-left-radius: 12px;
    border-end-start-radius: 12px;
}

.corner-right{
    border-right: 1px solid rgb(230 230 230);
    border-top-right-radius: 12px;
    border-end-end-radius: 12px;
}

.sub{
    margin-left: 11px;
    padding-left: 12px;
    border-left: 4px solid #DCDCDC;
}

.subforum{
    margin-left: 18px;
    padding-left: 24px;
    border-left: 4px solid #DCDCDC;
}

.d-n{
    display:none;
}

#searchResult{
    list-style: none;
    padding: 0px;
    width: 250px;
    position: absolute;
    margin: 0;
   }

   #searchResult li{
    background: lavender;
    padding: 4px;
    margin-bottom: 1px;
   }

   #searchResult li:nth-child(even){
    background: cadetblue;
    color: white;
   }

   #searchResult li:hover{
    cursor: pointer;
   }

   #content-preview > iframe > html > head > body{
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
   }

   .control-preview{
       width: 25% !important;
   }

   .modal-preview{
        padding:15px !important;
   }

   .dialog-preview{
        height:100% !important;margin:0px !important;max-width:none !important;
   }

   .content-preview{
        height:100% !important;
        box-shadow : none !important;
   }

   body.sidebar-mini .main-sidebar .sidebar-menu .content-myforum {
    display: none; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  margin: 0px !important;
  padding: 7px 0px !important;
  box-shadow: 1px 1px 3px 0px #b8b8b8;
  border-radius: 24px !important;
  width: 30px !important;
  height: 30px !important;
  background-color: white !important;
}

.owl-next:hover{
    color:black !important;
}

.owl-prev:hover{
    color:black !important;
}

.owl-next > span{
    font-size: 30px;
    line-height: 0px;
    font-size: 22px !important;
}

.owl-prev > span{
    font-size: 30px;
    line-height: 20px;
    font-size: 22px !important;
}

.owl-prev {
    left: -1%;
}

.owl-next {
  right: -1%;
}

#panel_favorite > i {
    font-size:20px;
}
.content-forum-area{
    height:100% !important;
}
.head-forum{
    background-color: #f4f6f9;
    padding-top: 5rem;
    padding-bottom: .5rem!important;
}

.thumb-lg{
    display : flex!important;
    align-items: center!important;
}

.thumb-sm{
    display : none!important;
}

.prof-lg{
    display : flex;
    align-items: center!important;
}

.prof-sm{
    display : none;
}

.c-lg{
    display: flex;
    justify-content: flex-end;
}

.c-sm{
    display : none;
}

.reply > .emojionearea-editor{
    min-height: 3em !important;
    max-height: 9em !important;
}

.metodologi-isi > p > img {
    padding : 5px;
}

.metodologi-content> p > img {
    padding : 5px;
}

.btn-comment{
    box-shadow: 0px 1px 3px #a7a1a1;
}

.bg-footer-ornament{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.leaderboard{
    min-height: 350px !important;
    height: 100% !important;
    margin-bottom : 67px;
}

.text-leaderboard-deskripsi{
    color: white;
    line-height: 20px;
}

.frm-0{
    border-image: url('../../assets/img/frame/junior.png') 20;
    border-color: transparent;
    border-style: inset;
    border-width: 0.5em;
    display: block;
    height: auto;
    background-color: transparent;
    margin: 0 auto;
    max-width: 130px;
    width: 100%;
}

.ava-frame{
    bottom:0px;
}

.badge-achievement{
    width: 100%;
    max-width: 50px;
    height: 100%;
    margin:5px;
    max-height: 52px;
    margin: 5px;
}

.top-min-20{
    top: -20px;
}

.ven-proj{
    font-size: 15px !important;
    line-height: 15px;
    margin-bottom: 1px;
}

@media only screen and (max-width: 1317px) {
    #bot{
        position: absolute;
        bottom: 250px;
        right   : 0px;
        width   : 40%;
    }
    .header-list-project{
        font-size:18px;
        font-weight:500;
    }
}

@media (max-width: 1024px){
    .forum {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1195px) {
    .control-preview{
        width: 30% !important;
    }
}

@media only screen and (max-width: 992px) {
    .comp{
        display:none !important;
    }
    .header-list-project{
        font-size:13px;
        font-weight:500;
    }
    .comp2{
        display:flex !important;
    }
    .list-project{
        padding : 0.5rem!important;
    }
    .content-project{
        padding-left : .3rem!important;
        padding-right : .3rem!important;
        padding-top : 0px!important;
        padding-bottom : 0px!important;
    }
    .control-preview{
        width: 40% !important;
    }
}

.navbar-gray{
    background-color: #393939 !important;
    color:white !important;
}

.bg-gray{
    background-color: #393939 !important;
    color:white !important;
}

.pt-16{
    padding-top: 250px !important;
}

@media only screen and (max-width: 768px) {
    .frm-0{
        border-image: url('../../assets/img/frame/junior.png') 20;
        border-color: transparent;
        border-style: inset;
        border-width: 1.4em;
        display: block;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
    }

    .arrow{
        max-width: 25px;
    }

    .section {
        padding-left: 0;
        padding-right: 0;
    }

    .thumb-lg{
        display : none!important;
    }

    .thumb-sm{
        display : flex!important;
        align-items: center!important;
    }

    .content-forum-area{
        height:50px !important;
    }

    .profile-left{
        float:left;
    }

    .profile-right{
        float:right;
    }

    .c-lg{
        display : none;
    }

    .c-sm{
        display : block;
        min-width: 85px;
    }

}

/* @media only screen and (max-width: 768px) {
    .ava {
        width: 25%;
        min-width: 40px;
    }
} */
@media only screen and (max-width: 767px) {
    .btn-comment{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .forum-profile-user{
        text-align: center !important;
        justify-content: center!important;
    }
}

@media only screen and (max-width: 765px) {
    .filter-popup{
        width:470px !important;
    }
    .img-detail{
        width: 100%;
        max-width: 150px;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 2px 10px #c4c3c3;
        max-height: 150px;
    }

    .img-detail2{
        width: 100%;
        max-width: 150px;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 2px 10px #c4c3c3;
        max-height: 150px;
    }

    .header-detail{
        padding-left:0px;
        padding-right:0px;
    }
    .rekomendasi{
        padding-left: 0px;
        padding-right: 0px;
    }

    .header-list-project{
        font-size:20px;
        font-weight:500;
    }
    .ven-proj{
        font-size: 15px !important;
        line-height: 15px;
        margin-bottom: 1px;
    }

    #bot{
        position: absolute;
        bottom: 250px;
        right: 0px;
        width: 600px;
    }

    .control-preview{
        width: 50% !important;
    }
}

@media only screen and (max-width: 615px) {
    .content-levelling{
        font-size: 9px;
        height: 35px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 530px) {
    .filter-popup{
        width:300px !important;
    }

    .control-preview{
        width: 70% !important;
    }

    .label_grap{
        font-size: 1.2em;
        line-height: 22px;
    }
}

@media only screen and (max-width: 500px) {
    .addin{
        display : none !important;
    }
    .navbar-bg{
        height : 300px;
    }
    .bg-ornament{
        height : 300px;
    }
    .bg-ornament2{
        height : 412px;
    }
    .header-list-project{
        font-size:18px;
        font-weight:500;
    }
    .ven-proj{
        font-size: 14px !important;
        line-height: 15px;
        margin-bottom: 1px;
    }
    .d-min{
        padding-left: 0 !important;
    }
}

@media (max-width: 425px){
    .col-xs-12 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
  }

@media only screen and (max-width: 450px) {
    .label_grap{
        font-size: 1em;
        line-height: 22px;
    }

    .control-preview{
        width: 80% !important;
    }
}

@media only screen and (max-width: 426px) {
    .label_grap{
        font-size: 1em;
        line-height: 22px;
    }
    .prof-lg{
        display : none;
    }

    .prof-sm{
        display : flex;
        align-items: center!important;
    }
}

@media only screen and (max-width: 375px) {
    .label_grap{
        font-size: 0.8em;
        line-height: 10px;
    }
    .control-preview{
        width: 95% !important;
    }
}

@media only screen and (max-width: 355px) {
    .bri-welcome{
        font-size: 0.7em;
    }

    .navbar-bg{
        height : 240px;
    }
    .header-list-project{
        font-size:14px;
        font-weight:500;
    }
    .ven-proj{
        font-size: 10px !important;
        line-height: 15px;
        margin-bottom: 1px;
    }

    .bg-ornament{
        height : 240px;
    }

    .bg-ornament2{
        height : 352px;
    }

    .main-cari-2iaef{
        font-size: 12px !important;
        padding: 3px 15px !important;
        height: 35px !important;
    }

    .input-group-text{
        height: 35px;
    }
}